.brandFeatures {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
  margin: 7rem 0;
  padding: 0;
}

.brandFeatures__cards {
  align-items: center;
  align-self: center;
  background: #c5dada;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 25rem;
  margin: 1rem 0;
}

.brandFeatures__images {
  height: 40%;
  width: 40%;
}

.brandFeatures__paragraph {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.8125rem;
  width: 25rem;
  text-transform: uppercase;
}


