
.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
 
}

.category-image-container {
  position: relative;
  width: 400px;
  height: 433px;
  background-color: black;
  
}
.category-title {
  list-style: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 56px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  color: rgb(250, 246, 246);
}
