a.category-link {
  text-decoration: none;
}

.category-link-title {
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0.3rem 0.1rem #000000;
  text-align: center;
  text-transform: uppercase;
  color: rgb(250, 246, 246);
  margin: -5rem 0 0 -5rem;
}

.category-link-image {
  width: 22rem;
  padding: 0;
  height: 36rem;
  margin: 0 0.5rem;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .category-link-image {
    width: 100vw;
    text-align: center;
    margin: 0;
  }
  
}
