h2 {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.card-container {
  width: 25rem;
  height: 33rem;
  position: relative;
  margin: 5rem;
  border-radius: 0.9rem;
  transition: 0.5s;
  animation: ease-in-out;
}
.card-container:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.2));
}

.image-container img {
  overflow: hidden;
  height: 33rem;
  width: 25rem;
  border-radius: 0.9rem;
}
.btn {
  display: flex;
  justify-content: center;
  height: 3rem;
  text-decoration: none;
  border-radius: 0.9rem;

}

.btn-category {
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

/* .btn {
    margin: 1rem;
    background-color: rgba(51, 25, 122, 0.836);
    border-color: transparent;
    
  }
  
  .btn:hover {
    background-color: rgba(241, 107, 12, 0.952);
    border-color: transparent;
  }
  
  .btn-primary {
    margin-top: 0.2rem;
    border-color: transparent;
    border-radius: 1.8rem;
  }
  
  .btn-operator{
    margin: 0.5rem;
    background-color: rgba(70, 66, 80, 0.651);
    border-color: transparent;
    font-weight: bolder;
  } */
