.aboutUs{
    background: black;
    border-radius: 0.9375rem;
    color: white;
    display: flex;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    flex-flow: column nowrap;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    height: 31.25rem;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 5.3125rem;
    position: relative;
    width: 66vw;
}

.aboutUs__title{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.2663rem;
    margin:0;
    width: 31.25rem;
}

.aboutUs__paragraph{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin:0;
    width: 31.25rem;
}