.category-header {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-header h1 {
  font-size: 5rem ;
  margin: 0;
}
.category-prods-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;
  gap: 0.6rem;
}


.no-products {
  height: 12.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text__progress{
  font-size: 2.5rem;
  text-align: center;
}