.productcard-container {
    height: 37rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.productcard-img {
    width: 25rem;
    height: 31.25rem;
}

.productcard-title{
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

.productcard-price{
    color: #01595A;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
}

.productcard-color-variant{
    background-color: grey;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
}