.product__card-container {
  width: 25.3rem;
  height: 35.7rem;
}

.product__card-img {
  width: 25rem;
  height: 31rem;
  border-radius: 0.5rem;
}
.product__card-title {
  font-size: 5rem;
  margin: 0 0 5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.product__card-price {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(1, 89, 90);
}
