/*CÓDIGO MICA*/
:root{
    --primary: black;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    overflow: hidden;
  }
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54rem;
  }
  
  .product{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
  
  }
  
  .product img{
    width: 100%;
    height: auto;
    position: relative;
    object-position: center center;
  }
  
  @keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
  }
  
  .info{
    width: 50%;
    background-color:none;
    z-index: 1;
    padding: 2rem 2.5rem;
  }
  
  .productName{
    padding: 0 0 0.5rem 0;
  }
  
  .productName div{
    display: flex;
    align-items: center;
  }
  
  .productName div .big{
    margin-right: 0.5rem;
    font-size: 2rem;
    color: #333;
    line-height: 1;
  }
  
  .productName, .description, .color-container, .size-container{
    border-bottom: 0.3rem solid #dadada;
  }
  
  .description{
    padding: 0.5rem 0;
  }
  
  .title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .text{
    color: #555;
    font-size: 1.3rem;
  }
  
  .buy-price{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price{
    color: #333;
    display: flex;
    align-items: flex-end;
  }
  
  .price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
  }
  
  .price i{
    font-size: 1.4rem;
    margin-right: 0.05rem;
  }
  
  .buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
  }
  
  .buy:hover{
    transform: scale(1.1);
  }
  
  .buy i{
    margin-right: 0.08px;
  }
  
  @media (max-width: 1070px){
    .shoe{
        width: 135%;
    }
  }
  
  @media (max-width: 1000px){
    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 2rem 0.05rem rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }
  
    .shoe{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }
  
  
  }
  
  
  @media (max-width: 490px){
  
  
    .productName div .big{
        font-size: 1.3rem;
    }
  
  
    .title{
        font-size: .9rem;
    }
  
    .text{
        font-size: .8rem;
    }
  
    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }
  
    .price h1{
        font-size: 1.5rem;
    }
  
    .price i{
        font-size: .9rem;
    }
  
    .size{
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 0.5rem;
        font-size: .9rem;
        line-height: 1.8rem;
    }
  
    .color{
        margin: 0 0.3rem;
        width: 0 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        border-width: 0.25rem;
    }
  
    .info{
        padding: 1.25rem;
    }
  }
  
  @media (max-width: 400px){
    .buy i{
        display: none;
    }
  
    .container{
        padding: 1.25rem;
    }
  }

























