/*CÓDIGO MICA*/
:root{
    --primary: black;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
  }
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
  }
  
  .product{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
  
  }
  
  .product img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
  
  @keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
  }
  
  .info{
    width: 50%;
    background-color:none;
    z-index: 1;
    padding: 35px 40px;
  }
  
  .productName{
    padding: 0 0 10px 0;
  }
  
  .productName div{
    display: flex;
    align-items: center;
  }
  
  .productName div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
  }
  
  .productName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
  }
  
  .description{
    padding: 10px 0;
  }
  
  .title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .text{
    color: #555;
    font-size: 17px;
  }
  
  .buy-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price{
    color: #333;
    display: flex;
    align-items: flex-start;
  }
  
  .price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
  }
  
  .price i{
    font-size: 1.4rem;
    margin-right: 1px;
  }
  
  .buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
  }
  
  .buy:hover{
    transform: scale(1.1);
  }
  
  .buy i{
    margin-right: 2px;
  }
  
  @media (max-width: 1070px){
    .shoe{
        width: 135%;
    }
  }
  
  @media (max-width: 1000px){
    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }
  
    .shoe{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }
  
  
  }
  
  
  @media (max-width: 490px){
  
  
    .productName div .big{
        font-size: 1.3rem;
    }
  
  
    .title{
        font-size: .9rem;
    }
  
    .text{
        font-size: .8rem;
    }
  
    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }
  
    .price h1{
        font-size: 1.5rem;
    }
  
    .price i{
        font-size: .9rem;
    }
  
    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }
  
    .color{
        margin: 0 6px;
        width: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }
  
    .info{
        padding: 20px;
    }
  }
  
  @media (max-width: 400px){
    .buy i{
        display: none;
    }
  
    .container{
        padding: 20px;
    }
  }


























/*CÓDIGO MARTÍN*/
/* .productdetail-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
}


.productdetail-img{
    height: 800px;
    width: 505px;
    
}

.productdetail-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 4px solid #03BFC0;
}

.productdetail-buttons {
    margin-top: auto;
    margin-bottom: 17px;
}


.productdetail-buttons button{
    border: none;
    background: none;
} */
