.navbar-container {
  min-height: 6.5625rem;
  background-color: #030315;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  align-content:center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2.5rem;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  position:sticky;
  z-index: 2;
}

.navbar-container.mobile {
  height: 4.0625rem;
  padding: 0px;
  justify-content: flex-start;
}

.navbar__link{
  text-decoration: none;
}
.nav__item {
  color: white;
  text-decoration: none;
}
.navbar__link :hover {
  text-decoration: underline;
  color: white;

}


.navbar-menu ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.8vw;
}

.navbar-social ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.navbar-social.mobile ul {
  padding: 0px;
  gap: 10px;
  align-items: center;
}


.navbar-social.mobile {
  margin-right: 45px;
}

img.navbar-logo.mobile {
  width: 230px;
  height: auto;
}

.social-icons.mobile {
  height: 20px;
}

@media (max-width: 768px) {
  .navbar-menu{
    display: none;
  }
  .navbar-social{
    display: none;
  }
  .navbar-container{   
    justify-content: flex-start;
  }
  img.navbar-logo.mobile {
    margin-left: 5%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .navbar-container{
    flex-direction: column;    
    justify-content: space-around;
  }   
  .navbar-social{
    margin:  0;
  }
  .navbar-menu{    
    font-size: 1.2rem;
  }
}

