.navbar-container {
  z-index: 1 !important;
  height: 105px;
  background-color: #030315;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.navbar-menu ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navbar-social ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

