.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}
.picture {
    width: 60rem;
    height: 25rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 10rem;
    font-size: 3rem;
    color: rgba(22, 26, 29, 0.507);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 10rem;
    font-size: 3rem;
    color: rgba(22, 26, 29, 0.507);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
 .slide {
     opacity: 0;
     transition-duration: 1s ease;

 }

 .slide.active {
     opacity: 1;
     transition-duration: 1s;
     transform: scale(1.08);
 }