.title__features-container {
  background-color: transparent;
  margin:  5.5rem 0;
}
.features__title {
  font-size: 5rem;
  margin: 0 0 5rem 0;
  text-align: center;
  text-transform: uppercase;

 }

.category-container {
  display: flex;
  flex-flow: row wrap;
  gap:1.5rem;
  justify-content: center;
}



