.footer {
  background-color: #030315;
  color: white;
  display: flex;
  flex-flow: row wrap;
  min-height: 15rem;
  justify-content: center;
  width: 100%;
}

.footer__element {
  margin: 2.8rem 2rem;
  height: 12rem;
  padding: 0.5rem 0;
  min-width: 15rem;
}

.footer__element--logo {
  align-items: space-around;
  display: flex;
  flex-flow: column nowrap;
}

.footer__elementBody--redes {
  display: flex;
  flex-flow: column nowrap;
}

.footer__link--redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.footer__link:visited {
  color: white;
  text-decoration: none;
}

.footer__link:link {
  color: white;
  text-decoration: none;
}
.nav__item :hover {
  text-decoration: underline;
  color: white;

}

.footer__paragraph {
  margin: 0.5rem 0;
}

.footer__iconosRedes {
  height: 1.5rem;
  margin: 0 1rem 0 0;
  width: 1.5rem;
}

.footer__logo {
  height: 7rem;
  width: 20rem;
  margin: 0;
}
.footer__copyright--container {
  width: 20rem;
  height: auto;    
}

.footer__copyright {
  text-align: center;
  line-height: 1.5rem;
  margin: 0;
}

@media (max-width: 576px) {
  .footer__element {
    margin-bottom: 0rem;
  }
  .footer__element--logo {
    margin: 1rem 2rem 2.8rem;
  }
  .footer__element--logo {
    padding: 2rem 0
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .footer__element {
    margin: 2rem;
  }
  .footer__element--logo {
    margin: 1rem 2rem 2.8rem;
  }
}
