.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    height: 15rem;
    justify-content: center;
    width: 100%;
}

.footer__element{    
    margin: 0 2rem;
    height: 15rem;
    padding: .5rem 0;
    width: 15rem;
}

.footer__element--logo{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.footer__elementBody--redes{
    display: flex;
    flex-flow: row nowrap;
}

.footer__link:visited{
    color:white;
    text-decoration: none; 
}

.footer__link:link{
    color:white;
    text-decoration: none; 
}

.footer__paragraph{
    margin: .5rem 0
}

.footer__iconosRedes{
    height: 1.5rem;
    margin: 0 1rem 0 0;
    width: 1.5rem;
}

.footer__logo{    
    height: 10rem;
    width: 10rem;
}

.footer__copyright{
    text-align: center;
    line-height: 1.5rem;    
    margin: 0;
}
