.title__container {
  text-align: center; 
  margin-bottom: 10px;
}
.category__title {
  font-size: 5rem;
  margin: 0 0 5rem 0;
  text-align: center;
  text-transform: uppercase;
}


.category-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
