@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@media (max-width: 992px) {
  :root{
    font-size: 10px;

  }    
}


@media (min-width: 992px) and (max-width: 1200px) {
  :root{
    font-size: 12px;

  }    
}


@media (min-width: 1200px) and (max-width: 1400px) {
  :root{
    font-size: 14px;
  }
} 


@media (min-width: 1400px){
  :root{
    font-size: 16px;
  }
}
