.product__card-container {
    width: 25.3rem;
    height: 35.7rem;
    cursor:pointer
  }
  
  .productcard__img {
    width: 25rem;
    height: 31rem;
    padding: 1rem;
    background: none;
  }
  .product__card-title {
    text-align: center;
    font-size: 1.3rem;
    color: #000000;
  }
  .product__card-price {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(1, 89, 90);
  }
  
  
@media only screen and (max-width: 600px) {
  .product__card-container {
    width: 100vw;
    text-align: center;
    margin: 0;
  }
  
}